@using OBilet.Models;
@{
    ViewBag.Title = "BusJourneys";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ResultBusJourneysModel busJourneysList = (ResultBusJourneysModel)ViewData["BusJourneys"];
    BusJourneysData first = busJourneysList.Data.First();
}

<style>
    div.container.body-content {
        text-align: center;
    }

    card, w-50, text-white, bg-primary {
        text-align: center;
    }
    .card-header-pills {
        position: absolute;
        top: 0;
        left: 0;
    }
</style>



<div class="card w-50 text-white bg-primary mb-md-2 text-md-center mx-md-auto">
    <div class="card-body">
        <h5 class="card-title">@first.OriginLocation - @first.DestinationLocation</h5>
        <p class="card-text">@first.Journey.DepartureDateTop</p>
    </div>
    <div class="card-header-pills">
        <a id="redirect" href="/" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">Home</a>
    </div>
</div>


@foreach (var journey in busJourneysList.Data)
{
    <div class="card w-50 mx-md-auto">
        <div class="card-body">
            <h5 class="card-title">
                <small>Kalkış - Varış</small>
                <br>
                <small>@journey.Journey.ArrivalDate - @journey.Journey.DepartureDate</small>
            </h5>
            <p class="card-text">@journey.Journey.Origin - @journey.Journey.Destination</p>
            <a href="#" class="btn btn-primary btn-danger">@journey.Journey.InternetPrice TL</a>
        </div>
    </div>
}


<script>
    $('redirect').click ( function (e) {
        e.preventDefault();
        window.location.href = '@Url.Action("Index", "Home")';
    });
</script>

