@using OBilet.Models;
@{
    ViewBag.Title = "Home Page";
}


@{
    var busLocationsList = (ResultBusLocationsModel)ViewData["BusLocations"];
}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script src="~/Scripts/pnotify.js"></script>
<link href="~/Content/icheck/flat/green.css" rel="stylesheet" />
<link href="~/Content/pnotify.css" rel="stylesheet" />
<style>
    div.container.body-content {
        text-align: center;
        margin: auto;
    }

    div.form-group {
        width: 200px;
        /*height: 60px;*/
        float: none;
        margin: auto;
        position: relative;
    }

    .swap {
        position: relative;
        display: block;
        padding-top: 50px;
    }
</style>
<form id="GetBusJourneys" action='@Url.Action("BusJourneys", "Home")' method="post" autocomplete="off">
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.AntiForgeryToken()
    <div class="form-group">
        <h6>Nereden</h6>
        <select class="form-control form-control-sm" id="from" name="DestinationId" required>
            <option value=@busLocationsList.Data.FirstOrDefault().Id selected>@busLocationsList.Data.FirstOrDefault().Name</option>
            @foreach (BusLocationsData busLocations in busLocationsList.Data.Skip(1))
            {
                <option value="@busLocations.Id">@busLocations.Name</option>
            }
        </select>
    </div>

    <a id="swap" href="#" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">Swap</a>

    <div class="form-group">
        <h6>Nereye</h6>
        <select class="form-control" id="to" name="OriginId" required>
            <option value=@busLocationsList.Data.ElementAt(1).Id selected>@busLocationsList.Data.ElementAt(1).Name</option>
            @foreach (BusLocationsData busLocations in busLocationsList.Data.SkipWhile(x => x.Id == 350).ToList())
            {
                <option value="@busLocations.Id">@busLocations.Name</option>
            }
        </select>
    </div>
    <div class="date form-row">
        <div class=" form-group row-cols-md-2">
            <span>Tarih</span>
            <div class="btn-group btn-group-vertical" data-toggle="buttons">
                <button id="today" type="button" class="btn btn-secondary active btn-sm">Bugün</button>
                <button id="tomorrow" type="button" class="btn btn-secondary active btn-sm">Yarın</button>
            </div>
        </div>
        <span id="timeText"></span>
        <input id="hiddenField" type="text" class="datepicker" style="display:none;" name="GetBusJourneysModel.Data.DepartureDate" />
    </div>

    <div class="form-group">
        <button id="send" type="submit" class="btn btn-primary btn-lg">Bileti Bul</button>
    </div>

    <input id="nowDate" type="text" style="display:none;" name="GetBusJourneysModel.Date" />
    <input id="destId" type="text" style="display:none;" name="GetBusJourneysModel.Data.DestinationId" />
    <input id="originId" type="text" style="display:none;" name="GetBusJourneysModel.Data.OriginId" />
    <input id="deviceId" type="text" style="display:none;" name="GetBusJourneysModel.DeviceSession.DeviceId" />
    <input id="sessionId" type="text" style="display:none;" name="GetBusJourneysModel.DeviceSession.SessionId" />
</form>


<script>

    var monthNames = ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"];
    var dayNames = ["Pazartesi", "Salı", "Çarşamba", "Perşembe", "Cuma", "Cumartesi", "Pazar"];

    $(document).ready(function () {
        if (checkCookie("date") != false) {
            var dateCookie = getCookie("date")
            darr = dateCookie[0].split("-");
            var date = new Date(parseInt(darr[2]), parseInt(darr[1]) - 1, parseInt(darr[0]));
        }
        else {
            var sDate = new Date();
            var date = new Date(sDate.getFullYear(), sDate.getMonth(), sDate.getDate() + 1);
        }
        var dayOfWeek = date.getUTCDay();
        var month = date.getUTCMonth();
        var text = date.getDate() + " " + monthNames[month] + " " + date.getFullYear() + " " + dayNames[dayOfWeek];
        $('#timeText').text(text);
        $('#hiddenField').val(date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear());

        if (checkCookie("from") != false) {
            $('#from').val(getCookie("from"));
        }

        if (checkCookie("to") != false) {
            $('#to').val(getCookie("to"));
        }


        $("#hiddenField").datepicker({
            showOn: "button",
            buttonImage: "https://jqueryui.com/resources/demos/datepicker/images/calendar.gif",
            buttonImageOnly: true,
            buttonText: "Select date",
            altFieldTimeOnly: true,
            altFormat: "yy-mm-dd",
            dateFormat: "dd-mm-yy",
            monthNames: monthNames,
            dayNamesMin: ["Pa", "Pt", "Sl", "Ça", "Pe", "Cu", "Ct"],
            firstDay: 1,
            defaultDate: new Date(),
            minDate: 0,
            onSelect: function (dateText, inst) {
                var date = $(this).datepicker('getDate');
                var dayOfWeek = date.getUTCDay();
                var month = date.getUTCMonth();
                var text = date.getDate() + " " + monthNames[month] + " " + date.getFullYear() + " " + dayNames[dayOfWeek];
                $('#timeText').text(text);
            }
        });
    });

    $('#today').click(function () {
        var date = new Date();
        var dayOfWeek = date.getUTCDay();
        var month = date.getUTCMonth();
        var text = date.getDate() + " " + monthNames[month] + " " + date.getFullYear() + " " + dayNames[dayOfWeek];
        $('#timeText').text(text);
        $('#hiddenField').val(date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear());
    })

    $('#tomorrow').click(function () {
        var date = new Date();
        date.setDate(date.getDate() + 1);
        var dayOfWeek = date.getUTCDay();
        var month = date.getUTCMonth();
        var text = date.getDate() + " " + monthNames[month] + " " + date.getFullYear() + " " + dayNames[dayOfWeek];
        $('#timeText').text(text);
        $('#hiddenField').val(date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear());
    })

    $('#swap').click(function () {
        var to = $('#to').val();
        var from = $('#from').val();

        $('#to').val(from);
        $('#from').val(to);
    })

    $('#GetBusJourneys').submit(function () {
        var from = Number($('#from').val());
        var to = Number($('#to').val());
        var date = $('#hiddenField').val();

        setCookie("from", from);
        setCookie("to", to);
        setCookie("date", date);

        if (from == to) {
            notifyOptions.title = 'Hata!';
            notifyOptions.type = 'error';
            notifyOptions.text = 'Same location as both origin and destination!';
            new PNotify(notifyOptions);
            return false;
        }
        var cookie = checkCookie("sessionCookie")
        if (cookie !== false) {
            $('#nowDate').val(new Date().toISOString());
            $('#destId').val(to);
            $('#originId').val(from);
            $('#deviceId').val(cookie[0].replace("DeviceId=", ""));
            $('#sessionId').val(cookie[1].replace("SessionId=", ""));
        }
        else {
                return false;
            }
            @*$.ajax({
                type: "POST",
                url: "@Url.Action("GetBusJourneys", "Home")",
                data: JSON.stringify(getBusJourneysModel),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response.result == 'Redirect')
                        window.location = response.url;
                },
                error: function (err) {
                    console.log(err);
                }
            })*@
    })


    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length).split("&");
            }
        }
        return "";
    }

    function checkCookie(cname) {
        let cookie = getCookie(cname);
        if (cookie != "") {
            return cookie;
        } else {
            return false;
        }
    }

    function setCookie(cname, cvalue) {
        document.cookie = cname + "=" + cvalue + ";path=/";
    }

    var notifyOptions = {
        title: "Hata",
        styling: 'bootstrap3',
    };
</script>

